.ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ctn2 div p {
  margin: 5px;
}
.logo {
  background-image: url("../img/user.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  /* background-color: #e70; */
  margin: auto;
}
.center {
  padding: 20px;
  font-family: "Black Ops One", cursive;
  animation: Gazo3 0.5s ease 0s normal forwards;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  width: 70%;
  height: 550px;
  margin-left: auto; /* Pour centrer "center" à l'horizontale */
  margin-right: auto; /* Pour centrer "center" à l'horizontale */
}
.user {
  text-align: center;
}

.description {
  width: auto;
  background-color: var(--divColor);
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ctn2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: auto;
}
.ctn2 div {
  background-color: var(--divColor);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  width: 300px;
}
.edit {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit button {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  margin-top: 20px;
}

.edit button:hover {
  transform: scale(1.02);
}

.btn {
  text-align: center;
  margin: auto;
}

.editProfileForm,
.profile-element {
  animation: Gazo3 0.5s ease 0s normal forwards;
}

.editProfileForm input {
  border-radius: 5px;
  font-family: "Black Ops One", cursive;
  background-color: var(--divColor);
  border-color: transparent;
  margin-bottom: 10px;
  padding: 10px 50px;
  color: var(--main-color);
  cursor: pointer;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
