.center {
  padding: 100px 20px;
  font-family: "Black Ops One", cursive;
  animation: Gazo3 0.5s ease 0s normal forwards;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  width: 70%;

  margin-left: auto;
  margin-right: auto;
}
.ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Form {
  padding: 50px 0;
  border-radius: 5px;
  margin: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Form input {
  border-radius: 5px;
  font-family: "Black Ops One", cursive;
  background-color: var(--divColor);
  border-color: transparent;
  margin-bottom: 10px;
  padding: 10px 50px;
  color: var(--main-color);
  cursor: pointer;
}
.Form button {
  font-family: "Black Ops One", cursive;
  background-color: var(--divColor);
  border-color: transparent;
  margin-bottom: 10px;
  padding: 10px 30px;
  color: var(--main-color);
  cursor: pointer;
}
.Form input::placeholder {
  color: var(--main-color);
}

.captcha {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 75px;
  margin-bottom: 10px;
}

.logs {
  background-color: var(--divColor);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 80%;
}
