{% extends 'base.html.twig' %}

{% block title %}Welcome chief
{% endblock %}
{% block body %}
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('/css/sendSms.css') }}">
	</head>
	{% include "_left.html.twig" %}
	<div class="center">
		<div class="Form">
			{{ form_start(form) }}
			{{ form_end(form) }}
			{# <div class="logs">
				<p>{{logs}}</p>
			</div> #}
		</div>
	</div>
{% endblock %}
