.ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center {
  animation: Gazo3 0.5s ease 0s normal forwards;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.Form {
  /* padding: 50px 0; */
  border-radius: 5px;
  width: 96%;
  height: 100%;
  margin: auto;
  /* width: 140vh; */
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.Form p {
  color: var(--text-color);
}

.img {
  text-align: center;
}

.img img {
  height: 100px;
}

.description {
  /* font-family: "Caprasimo", cursive; */
  /* font-family: "Roboto Condensed", sans-serif; */
  background: #00000032;
  width: 50%;
  margin: auto;
  font-size: 15px;
  /* padding: 2px 20px; */
  margin-bottom: 10px;
  border-radius: 5px;
}
.profileHr {
  border: var(--main-color) solid 1px;
  opacity: 0.5;
  width: 90%;
  margin: auto;
}
.info {
  font-family: "Black Ops One", cursive;
  background: #00000032;
  border-radius: 5px;
  border: 1px solid #00000032;
  font-size: 15px;
  margin-bottom: 10px;
  width: 50%;
}
.profilectn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  /* padding: 20px; Ajouter de la marge intérieure pour l'espace entre les éléments */
  align-items: center;
  margin: auto;
}
.profilectn p {
  /* padding: 5px 30px; */
}
.profilectn svg {
  color: var(--main-color);
  width: 30px;
  height: 30px;
}
.loading-container {
  margin-left: auto;
  margin-right: auto;
}
.password input {
  border-radius: 5px;
  padding: 10px 30px;
}
.cssbuttons-io-button {
  background: var(--divColor);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  /* box-shadow: inset 0 0 1.6em -0.6em #714da6; */
  overflow: hidden;
  position: relative;
  height: 3.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin: auto;
}

.cssbuttons-io-button .icon {
  background: rgb(194, 194, 194);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  /* box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9; */
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
