{% extends 'base.html.twig' %}

{% block title %}Welcome chief
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/media.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

	{% include "_left.html.twig" %}
	<div class="center">
		<div class="Form">
		{{ form_start(form) }}
		{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
